{
  "project_info": {
    "project_number": "REPLACE_ME",
    "project_id": "YOUR_PROJECT_ID",
    "storage_bucket": "YOUR_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "REPLACE_ME",
        "android_client_info": {
          "package_name": "com.construction.rfq"
        }
      },
      "api_key": [
        {
          "current_key": "YOUR_ANDROID_API_KEY"
        }
      ]
    }
  ],
  "configuration_version": "1"
}
